{{set . "title" "Home"}}
{{template "header.html" .}}

<table width="100%">
	<tr><th>ID</th><th>Git Hash</th><th>Run Type</th><th>Version</th><th>Jenkins Build URL</th><th>Start Time</th><th>Duration</th><th>Email</th></tr>
	{{range .myBbRun}}
		<tr align="center" style="width:100%">
		<td width="10%">{{.Id}}</td>
		<td width="10%">{{.Git_hash}}</td>
		<td width="10%">{{.Run_type}}</td>
		<td width="10%">{{.Version}}</td>
		<td width="30%"><a href="{{.Jenkins_build_url}}" target="_blank">{{.Jenkins_build_url}}</a></td>
		<td width="10%">{{.Start_time}}</td>
		<td width="10%">{{.Duration}}</td>
		<td width="10%">{{.Email}}</td>
		</tr>
	{{end}}
</table>

{{template "footer.html" .}}
